<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base URL for the RewriteRules
    RewriteBase /astuteanalytica/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
