@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.header-breadcrumb {
    padding: 10px 0;
    min-height: 100%;
    background-color: #02185a;
    position: relative!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 100%;
    width: 100%;
}

.header-breadcrumb:after {
    background: rgba(50, 50, 50, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.header-breadcrumb .container {
    position: relative;
    z-index: 5;
    text-align: left;
}

.header-breadcrumb .page-title-heading {
    color: #fff;
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 27px;
}

.header-breadcrumb .breadcrumb,
.header-breadcrumb-two .breadcrumb {
    text-align: left;
    padding: 0;
    background: 0 0;
    display: block;
    margin: 0;
    border: none;
    border-radius: 0;
    margin-top: 0;
}

.header-breadcrumb .breadcrumb li,
.header-breadcrumb-two .breadcrumb li {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #eee;
    text-transform: capitalize;
    transition: .4s;
    letter-spacing: .2px;
    font-family: Roboto, sans-serif;
}

.breadcrumb li a {
    font-weight: 500;
}

.services-page.service-inner {
    background: #fff;
    padding: 80px 0 60px;
}

.main-heading.inner-heading {
    background: #c30c17;
    padding: 14px 20px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
}

.checkout-form {
    padding: 30px 20px;
    background: #f3f3f3;
}

input[type=email],
input[type=password],
input[type=search],
input[type=subject],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    outline: 0;
    resize: none;
    font-weight: 400;
    display: block;
    width: 100%;
    line-height: 24px;
    height: 50px;
    font-size: 14px;
    border: 1px solid #eee;
    padding: 13px 20px;
    background: #fff;
    color: #02185a;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: none!important;
}

select {
    height: 50px!important;
    outline: 0;
    resize: none;
    font-weight: 400;
    display: block;
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #f1f1f1;
    padding: 13px 20px;
    background: #f9f9f9;
    color: #02185a;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: none!important;
    width: 100%;
}

textarea {
    height: 150px;
    padding-top: 20px;
}

.cart-summary-box {
    border: 2px #e6e6e6 solid;
    padding: 20px;
    border-top: 0;
    margin-bottom: 20px;
}

.cart-summary-box h5 {
    color: #02185a;
    font-size: 16px;
    line-height: 24px;
}

.information-blocks {
    width: 100%;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
}

.cart-table th {
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-top: 1px #e6e6e6 solid;
    border-bottom: 1px #e6e6e6 solid;
}

.cart-table .column-3 {
    width: 180px;
}

.cart-table .column-2 {
    width: 150px;
}

.cell-view {
    margin-bottom: 15px;
    font-size: 16px;
    color: #c30c17;
    font-weight: 500;
}

table td {
    border: 1px solid #000 !important;
}

.cart-table td {
    vertical-align: middle;
    padding: 20px;
    border-bottom: 1px #e6e6e6 solid;
    color: #02185a;
}

.main-btn-four,
.main-btn-one,
.main-btn-three,
.main-btn-two {
    position: relative;
    min-width: 180px;
    background: #fff;
    color: #02185a;
    line-height: 45px;
    height: 45px;
    padding: 0px;
    display: inline-block;
    -webkite-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    overflow: hidden
}

.main-btn-one:focus {
    background: #fff;
    color: #02185a
}

.main-btn-one:hover {
    color: #c30c17
}

.main-btn-four .text-btn,
.main-btn-one .text-btn,
.main-btn-three .text-btn,
.main-btn-two .text-btn {
    float: left;
    min-width: 130px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    letter-spacing: .5px;
    overflow: hidden
}

.main-btn-four .text-btn .text-btn-one,
.main-btn-one .text-btn .text-btn-one,
.main-btn-three .text-btn .text-btn-one,
.main-btn-two .text-btn .text-btn-one {
    display: block;
    margin-left: -100%;
    float: left;
    transition: .4s;
    text-align: center;
    min-width: 130px;
    height: 45px;
    padding: 0 15px;
    background: #c30c17;
    color: #fff
}

.main-btn-four .text-btn .text-btn-two,
.main-btn-one .text-btn .text-btn-two,
.main-btn-three .text-btn .text-btn-two,
.main-btn-two .text-btn .text-btn-two {
    margin-left: 0;
    transition: .4s;
    min-width: 130px;
    height: 45px;
    text-align: center;
    display: block;
    padding: 0 15px;
    display: block;
    background: #fff;
    color: #02185a
}

.main-btn-four:hover .text-btn .text-btn-one,
.main-btn-one:hover .text-btn .text-btn-one,
.main-btn-three:hover .text-btn .text-btn-one,
.main-btn-two:hover .text-btn .text-btn-one {
    margin-left: 0
}

.main-btn-four:hover .text-btn .text-btn-two,
.main-btn-one:hover .text-btn .text-btn-two,
.main-btn-three:hover .text-btn .text-btn-two,
.main-btn-two:hover .text-btn .text-btn-two {
    margin-left: 100%
}

.main-btn-four .arrow-btn:after,
.main-btn-four .text-btn:after,
.main-btn-four:after,
.main-btn-one .arrow-btn:after,
.main-btn-one .text-btn:after,
.main-btn-one:after,
.main-btn-three .arrow-btn:after,
.main-btn-three .text-btn:after,
.main-btn-three:after,
.main-btn-two .arrow-btn:after,
.main-btn-two .text-btn:after,
.main-btn-two:after {
    content: "";
    clear: both;
    display: block;
    width: 100%
}

.main-btn-four .text-btn:before,
.main-btn-one .text-btn:before,
.main-btn-three .text-btn:before,
.main-btn-two .text-btn:before {
    content: "";
    width: 2px;
    height: 45px;
    background: #ddd;
    right: 0;
    top: 0;
    position: absolute;
    opacity: .5
}

.main-btn-one:hover .text-btn:before {
    background: #e06026
}

.main-btn-four .arrow-btn,
.main-btn-one .arrow-btn,
.main-btn-three .arrow-btn,
.main-btn-two .arrow-btn {
    height: 45px;
    width: 50px;
    text-align: center;
    overflow: hidden;
    background: #f9f9f9;
    line-height: 45px
}

.main-btn-four .arrow-btn .arrow-one,
.main-btn-one .arrow-btn .arrow-one,
.main-btn-three .arrow-btn .arrow-one,
.main-btn-two .arrow-btn .arrow-one {
    display: block;
    background: #c30c17;
    font-size: 13px;
    line-height: 45px;
    color: #fff;
    margin-left: -50px;
    float: left;
    transition: .4s;
    text-align: center;
    width: 50px;
    height: 45px;
    font-size: 15px
}

.main-btn-four .arrow-btn .arrow-two,
.main-btn-one .arrow-btn .arrow-two,
.main-btn-three .arrow-btn .arrow-two,
.main-btn-two .arrow-btn .arrow-two {
    background: #f9f9f9;
    font-size: 13px;
    line-height: 45px;
    margin-left: 0;
    transition: .4s;
    height: 45px;
    width: 50px;
    text-align: center;
    font-size: 15px;
    display: block
}

.main-btn-four:hover .arrow-btn .arrow-one,
.main-btn-one:hover .arrow-btn .arrow-one,
.main-btn-three:hover .arrow-btn .arrow-one,
.main-btn-two:hover .arrow-btn .arrow-one {
    margin-left: 0
}

.main-btn-four:hover .arrow-btn .arrow-two,
.main-btn-one:hover .arrow-btn .arrow-two,
.main-btn-three:hover .arrow-btn .arrow-two,
.main-btn-two:hover .arrow-btn .arrow-two {
    margin-left: 50px
}

.main-btn-two .text-btn .text-btn-one {
    background: #02185a;
    color: #fff
}

.main-btn-two .text-btn .text-btn-two {
    background: #c30c17;
    color: #fff
}

.main-btn-two .text-btn:before {
    background: #e4500d
}

.main-btn-two:hover .text-btn:before {
    background: #2e3e6c
}

.main-btn-two .arrow-btn {
    background: #c30c17;
    line-height: 45px
}

.text-btn:hover {
    cursor: pointer
}

.main-btn-two .arrow-btn .arrow-one {
    background: #011552;
    color: #fff
}

.main-btn-two .arrow-btn .arrow-two {
    background: #c30c17;
    color: #fff
}

.main-btn-three .text-btn .text-btn-one {
    background: #fff;
    color: #02185a
}

.main-btn-three .text-btn .text-btn-two {
    background: #c30c17;
    color: #fff
}

.main-btn-three .text-btn:before {
    background: #e4500d
}

.main-btn-three:hover .text-btn:before {
    background: #eee
}

.main-btn-three .arrow-btn {
    background: #c30c17;
    line-height: 45px
}

.main-btn-three .arrow-btn .arrow-one {
    background: #fff;
    color: #02185a
}

.main-btn-three .arrow-btn .arrow-two {
    background: #c30c17;
    color: #fff
}

.main-btn-four .text-btn .text-btn-one {
    background: #02185a;
    color: #fff
}

.main-btn-four .text-btn .text-btn-two {
    background: #fff;
    color: #02185a
}

.main-btn-four .text-btn:before {
    background: #02185a
}

.main-btn-four:hover .text-btn:before {
    background: #2e3e6c
}

.main-btn-four .arrow-btn {
    background: #02185a;
    line-height: 45px
}

.main-btn-four .arrow-btn .arrow-one {
    background: #02185a;
    color: #fff
}

.main-btn-four .arrow-btn .arrow-two {
    background: #f9f9f9;
    color: #02185a
}